<div class="sm-nav">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-light p-4">
            <h5 routerLink="/" class="text h4">Home</h5>
            <h5 routerLink="/tweet" class="text h4">Tweet</h5>
            <h5 routerLink="/account" class="text h4">Profile</h5>
        </div>
    </div>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        </div>
    </nav>
</div>