<app-header></app-header>
<div class="container mt-5">
    <div class="row">
        <div class="nav col-md-3  mt-5">
            <div>
                <div routerLink="/" class="add d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="home bi-house-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
            <path fill-rule="evenodd"
              d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
          </svg>
                    <p>Home</p>
                </div>

                <div routerLink="/tweet" class="add d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="plus bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
          </svg>
                    <p>Tweet</p>
                </div>

                <div routerLink="/account" class="profile d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg>
                    <p>Plofile</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Edit</h1>
            <label for="user">Thumbnail & Handle Name</label>
            <div class="">
                <!-- <img [src]="'http://localhost:4400/'" [(ngModel)]="thubnail" alt=""> -->
                <input (change)="tnFile($event)" name="file" class="form-control" id="user" type="file" multiple>
            </div>
            <div class="mb-3">
                <input [(ngModel)]="handleName" class="form-control" type="text" name="" id="">
            </div>
            <label for="content">Tweet & Image</label>
            <div class="form-group">
                <textarea id="content" [(ngModel)]="tweet" class="form-control w-80" rows="10"></textarea>
            </div>
            <div class="mb-3">
                <input (change)="imgFile($event)" name="file" class="form-control" type="file" multiple>
            </div>
            <button (click)="updatetweet()" class="btn btn-primary">Tweet</button>
        </div>
        <div class="nav col-md-3"></div>
    </div>
</div>