.tweet {
    padding: 2rem;
    border-top: 1px lightgrey solid;
    border-right: 1px lightgrey solid;
    border-left: 1px lightgrey solid;
}

.tweet:last-child {
    border-bottom: 1px lightgrey solid;
}

.content-warapper {
    width: 100%;
    margin-left: 1rem;
}

.img-warapper {
    height: 500px;
    border-radius: 10%;
    border: 1px solid lightgray;
}

.tn-warapper img,
.img-warapper img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.tn-warapper img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.reactBtn {
    padding-top: 2rem;
}

.retweet p,
.liked p {
    margin: 0;
    margin-left: .5rem;
}

@media screen and (max-width:768px) {
    .nav {
        display: none;
    }
}

.delete,
.dots {
    cursor: pointer;
}

.dots {
    margin-right: 1rem;
}

.dots:hover {
    color: blue;
}

.delete:hover {
    color: red;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeout {
    animation: fadeout 2s;
}

.add,
.profile {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
}

.add:hover,
.profile:hover {
    background-color: rgb(151, 151, 151);
}

.add p,
.profile p {
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: 1.5rem;
}