<app-header></app-header>
<div class="container mt-5">
    <div class="row">
        <div class="nav col-md-3 mt-5">
            <div>
                <div routerLink="/tweet" class="add d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="plus bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
          </svg>
                    <p>Tweet</p>
                </div>

                <div routerLink="/account" class="profile d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg>
                    <p>Plofile</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>HOME</h2>
            <div *ngFor=" let tweet of tweets ">
                <div class="tweet d-flex flex-column justify-content-between" #tweetcard>
                    <div class="d-flex">
                        <div class="tn-warapper ">
                            <img [src]="'http://localhost:4400/'+ tweet.thumbnail " [alt]="tweet.handle_name ">
                        </div>
                        <div class="content-warapper">
                            <p>@{{tweet.handle_name}}</p>
                            <p>{{tweet.description}}</p>
                            <div class="img-warapper">
                                <img [src]="'http://localhost:4400/'+tweet.image" [alt]="tweet.image">
                            </div>
                        </div>
                        <div class="menu d-flex">
                            <svg [routerLink]="['/update/', tweet.ID] " xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="dots bi bi-three-dots-vertical" viewBox="0 0 16 16">
                <path
                  d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
              </svg>
                            <svg (click)="deleteTweet(tweet.ID, tweetcard)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="delete bi bi-trash3" viewBox="0 0 16 16">
                <path
                  d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
              </svg>
                        </div>
                    </div>
                    <div class="reactBtn d-flex justify-content-around">
                        <i class="fa-solid fa-comment d-flex align-items-center"></i>
                        <div class="retweet d-flex align-items-center">
                            <i class="fa-solid fa-retweet"></i>
                            <p>23</p>
                        </div>
                        <div class="liked d-flex align-items-center">
                            <i class="fa-solid fa-heart"></i>
                            <p>23</p>
                        </div>
                        <i class="fa-solid fa-share d-flex align-items-center"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav col-md-3"></div>

    </div>
</div>